/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*-----CSS RESET-----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*code begins*/

html {
	font-size: 100%;
}

body {
    font-family: 'Lato', sans-serif;

}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
h2{
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}
p{
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8;
    font-weight: 300;

}
.captions{
    font-size: 1rem;
    font-weight: 400;
}




/*----navbar----*/
.navbar {
    background-color: white;
    margin: auto;
    
}
#navItems{
    width: 1050px;
}
.navbar a{
    font-weight: 700;
}
.navbar ul li a{ 
    font-weight: 300;
    color: black;
    transition: 0.3s;
    font-size: .9rem;
    margin-right: 10px;

}
.navbar ul li a:hover{
    color: rgb(151, 197, 159);
}



/*----hero image------*/
#heroImgCarousel{
    max-width: 100%;
    max-height: 50%;
}


.carousel-caption {
    position: absolute;
    top: 50%;
    font-size: 2em;
}

.carousel-caption button {
    background-color: black;
    border-radius: 0%;
    width: 200px;
    padding: 10px 0;
}
.carousel-caption h1{
    padding-bottom: 20px;
}


img{
    width: 100%;
}


/*-----buttons------*/

/*----top button-----*/
.btn {
    background-color: rgb(151, 197, 159);
    border: none;
    border-radius: 0%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
}

.btn:hover {
    background-color: rgb(151, 197, 159);
    color: black;
    transition: 1.2s;

}
.btn a{
    color: white;
}
.btn a:hover{
    text-decoration: none;
    
}
#topBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#topBtn a:hover{
    color: black;
    transition: 1.2s;
}

.btn-dark{
    background-color: white;
    color: black;
}
.btn-dark:hover, .btn-dark a:hover{
    background-color: white;
    color: rgb(151, 197, 159);
}
#heroBtn:hover{
    background-color: black;
    color: rgb(151, 197, 159);
}
#heroBtn a:hover{
    background-color: black;
    color:  rgb(151, 197, 159);
    transition: 1.2s;
}


#readMoreBtn{
    padding-bottom: 40px;
}


#footerBtn{
    background-color: white;
    border: none;
    border-radius: 0%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 0;
    color: black;
}
#footerBtn a{
    text-decoration: none;
    color: black;
}

#footerBtn a:hover{
    color: rgb(151, 197, 159);
    transition: .9s;
}

iframe{
    padding: 2% 0px 10% 0px;
}

#paragraphTwo h2, #paragraphTwo p{
    text-align: left;
}

#icons{
    display: flex;
    align-content: center;
}
#icons img{
    width: 100px;
    margin: 2%;
    align-self: center;
}

.no-margin{
    margin:0 !important;
    padding:0;
}

#freeTrial{
    background-color: black;
    padding-bottom: 50px;
}

#freeTrial p{
    text-align: left;
}
#freeTrial h2 {
    text-align: left;
    padding-bottom: 5%;

}
footer{
    background-color: rgb(143, 187, 147);
}
footer img{
    width: 120px;
}

#emailDiv{
    padding: 10px 0 30px 0;
}

.bottomFooter{
    display: flex;
    justify-content: space-around;
    font-size: .8rem;
    padding-bottom: 50px;
    color: white;
    font-family: "Lato";
}



/* .container {
    padding: 20px;
} */


.box {
/* background-size: 100px 100px; */
margin-left: 3px;
background-color: #fff;
border-radius: 50px;
width: 50px;
height: 50px;
}
.box:hover{
    background-color: grey;

}

.box.gsap {
--x: 0;
--y: 0;
--angle: 0deg;
transform: rotate3d(var(--x), var(--y), 0, var(--angle));
}
@keyframes rotate {
from {
transform: rotate3d(0,0,0,360deg)
}
to {
transform: rotate3d(1,1,0,360deg)
}
}



/*------ABOUT US PAGE-------*/
.jumbotron {
    background-color:  rgb(151, 197, 159);
    color: white;
}